ul{
    background-color:blue;
    list-style-type: none;
    margin: 10px;
    padding: 20px;
}
ul li{
    color:white;
    display:inline;
    margin-left: 40px;
    padding: 20px;
}
li:hover{
    background-color: yellowgreen;
}

